body{
    background-color: rgb(27, 185, 77);
    padding-left: 20px;


}
.button-container {
    padding-left: 300px;
    justify-items: center;
    

    
}
.personal-details{
    padding-left: 20px;
    font-size: larger;
    

    
}

.Additional-details{
    padding-left: 20px;
    font-size: larger;
    
}
.details{
    font-weight: bolder;
    font-size: larger;
    
}

  